.header_wrapper .navbar {
    padding:15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 120px;
    height: auto;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color:#c6c9d8bf;
    line-height:2;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color:  #3d2514;
    display:inline-block;
}

.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: #FD4766;
    transition: 0.3s;
    bottom: 0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: #fff;
}

.header-scrolled {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color:  white;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
    color: #FD4766;
}

/* 3 Banner */
.banner_wrapper {
    width: 100%;
    height: auto;
    min-height: 650px;
    background-image: url('../images/background/Rectangle.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0 100px 0;

}
#text1{
    position: relative;
    top: -180px;
    left: 0;
}
.text {
	text-shadow: 3px 2px 0 white;
}
.banner_wrapper .p1{
    font-weight: 500;
    text-transform: uppercase;
}
.banner_wrapper .banner-p1{
    text-transform: uppercase;
    font-size: 67px;
    color: #3d2514;
}
.banner_wrapper .banner-p2{
    text-transform: uppercase;
    font-family: Myriad Pro;
    font-size: 57px;
    color: #3d2514;
    font-weight: 900;
    margin-top: -40px;
}
.banner_wrapper img{
    margin-top: -100px;
}
.home-wrapper .img1{
    width: 50%;
    height: auto;
    min-height: 420px;
    background-image: url('../images/home/Burger-Image.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5%;
}
.home-wrapper .img1 .mar{
    margin-top: 20px;
}
.home-wrapper .img2{
    width: 80%;
    height: auto;
    min-height: 200px;
    background-image: url('../images/home/Image.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 6%;
}
.home-wrapper .img2 .mar{
    margin-top: 20px;
}
.home-wrapper .img3{
    width: 80%;
    height: auto;
    min-height: 180px;
    background-image: url('../images/home/Image2.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3%;
}
.home-wrapper .img3 .mar{
    margin-top: 20px;
}
.menu-wrapper h1{
    color: #3d2514;
}
span{
    color: #3d2514;  
}
.menu-wrapper h6{
    width: auto;
    background-color: yellow;
    position: relative;
    left: 500px;
}
.menu-wrapper p{
    font-size: 16px;
}
.menu-wrapper .card{
    border: none;
}
.menu-wrapper .card .btn{
   width: 50%;
}
.menu-wrapper .card h4{
    text-transform: uppercase;
    color: #3d2514;
}
.menu-wrapper .card p{
    font-size: 15px;
}

.our_story-wrapper .carousel-indicators button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: yellow;
    opacity: 0.2;
    }
   .our_story-wrapper .carousel-indicators button.active{
      opacity: 1;
      color: yellow;
    }
 h1{
    color: #3d2514;
}
.our_story-wrapper #carouselExampleCaptions .carousel-indicators {
    position: absolute;
    left: -750px;
  
}
.contact-wrapper{
    width: 100%;
    height: auto;
    min-height: 650px;
    background-image: url('../images/contact/Image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 
}
.contact-wrapper .form{
    margin-top: 90px;
}

.footer-logo img{
    margin-top: 80px;
}

.footer-wrapper{
    width: 100%;
    height: auto;
    min-height: 440px;
    background-image: url('../images/footer/Image2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
.footer-wrapper .Copyright a {
    background-color: aliceblue;
    border-radius: 100%;
    color: black;
    width: 25px;
    height: 25px;
    margin: .5rem;
    padding-bottom: 19px;
    font-size: .875rem;
    text-align: center;
}
.footer-wrapper .social i{
    margin: 5px;
}
.btn{
   
    background-color: #f11e1e;
}